img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 120px;
    height: 120px;
}

h5{
    margin-bottom: 3px;
}

p{
    margin-top: 0px;
    margin-bottom: 3px;
}